<mat-toolbar >
  <button (click)="openSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

@if(sidebarOpen){
  <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
}



<router-outlet></router-outlet>

<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" (click)="openAddUserDialog()"></mat-icon>
@if(dialogOpen){
  <ol>
    <li>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="user.name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="user.email" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput [(ngModel)]="user.address" />
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="addUser()">Add User</button>
    </li>
    <!-- @if (animal()) { -->
      <!-- <li>
        You chose: <em>{{animal()}}</em>
      </li> -->
    <!-- } -->
  </ol>
}